# Canvas connection
CANVAS_BASE_URL=https://canvas.eur.nl/ # Replace with your Canvas instance URL. Original is for Erasmus University Rotterdam
CANVAS_ACCESS_TOKEN=YOUR_ACCESS_TOKEN_HERE # Replace with your Canvas access token

# Where to store downloads
DOWNLOAD_ROOT=./Courses # Replace with your desired download directory (absolute or relative path. Recommended to use absolute path, e.g. 'C:/Users/youruser/University/Courses')

# Whether to skip existing files (true) or always redownload (false)
UPDATE_ONLY=true

# OPTIONAL: Only download these courses (whitelist)
# If empty, all courses are considered (except EXCLUDED).
# Use course codes, e.g. FEB22009 (same as for BLOK/EXCLUDED).
# Must be visible on your Canvas page.
ONLY_COURSES=

# Courses to exclude from downloading (comma-separated, optional): use course codes, e.g. FEB22009
EXCLUDED=

# Faculty code (optional)
# Currently only "ESE" has special support (BLOK1, BLOK2, ...)
FACULTY=ESE

# Whether to group courses into BLOK folders (ESE only)
GROUP_BY_BLOCKS=false

# ESE-only: Block -> course codes (comma-separated)
# Use course codes as shown in Canvas.
BLOK1=FEB22002X|2025, FEB21011S|2025 #replace with your actual course codes
BLOK2=
BLOK3=
BLOK4=
BLOK5=

# Disable entire blocks (comma-separated, optional)
# Example: DISABLE_BLOCKS=BLOK1, BLOK3
DISABLE_BLOCKS=
